.button {
  $root: '.button';

  cursor: pointer;

  border-radius: 6px;
  border: 1px solid black;

  &.ghost {
    background-color: transparent;
  }

  &.outline {
    background-color: transparent;
    border: 0;
  }
}