.modal {
  $root: '.modal';

  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(44, 40, 40, 0.747);
  
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;

  &.top {
    align-items: flex-start;
  }

  #{$root}__content {
    background-color: white;
    border-radius: 6px;
  }

  #{$root}__header {
    position: relative;
    display: flex;
    justify-content: center;
    padding: .5rem 2rem;
    background-color: rgb(235, 235, 235);
    min-height: 1rem;
    border-radius: 6px 6px 0 0;

    .button {
      position: absolute;
      right: .5rem;
    }
  }

  #{$root}__body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
}