.planning {
  $root: '.planning';

  padding: 1rem;
  overflow: auto;

  #{$root}__list {
    border: 1px solid lightgray;
  }

  #{$root}__list-gap {
    display: flex;
    flex-direction: column;

    padding: .5rem 0;

    & + #{$root}__list-gap {
      border-top: 1px solid lightgray;
    }

    & a {
      display: flex;
    }
  }

  #{$root}__header {
    position: sticky;
    top: 0;
    background-color: white;
    padding: .5rem;

    span {
      margin-right: .5rem;
    }
  }

  #{$root}__date-picker {
    margin-top: 1rem;
    display: none;

    &.-is-visible {
      display: block;
    }
  }

  #{$root}__list-hour {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: .25rem;
    width: 2rem;
  }

  #{$root}__list-content {
    padding: .25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;

    #{$root}__list-item {
      & + #{$root}__list-item {
        margin-top: .5rem;
      }

      .time {
        font-size: .7rem;
      }
    }
  }

  #{$root}__form-create {
    display: flex;
    flex-direction: column;

    #{$root}__form-create-field {
      width: 500px;

      & + #{$root}__form-create-field {
        margin-top: 1rem;
      }

      &.hour {
        display: flex;
        align-items: center;

        & > :nth-child(2) {
          font-size: 1.2rem;
          margin: 0 1rem 0 .5rem;
        }
      }
    }

    .react-calendar {
      width: 100%;
    }

    #{$root}__form-create-label {
      display: block;
      margin-bottom: .5rem;
    }
  }

  #{$root}__modal {
    flex-direction: column;

    & #{$root}__form-create-actions {
      width: 100%;
      margin-top: 1rem;
      display: flex;
      justify-content: flex-end;

      .button + .button {
        margin-left: 1rem;
      }
    }
  }
}