.todo {
  $root: '.todo';

  padding: 1rem;
  overflow: auto;

  #{$root}__header {
    display: flex;

    #{$root}__input {
      flex: 1;
    }
  }

  #{$root}__list-item {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
    font-size: 1.1rem;
  }

  #{$root}__list-item-value {
    &.-is-checked {
      text-decoration: line-through;
    }
  }

  #{$root}__list-item-delete {
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
}